<!--<div class="quotes">-->
<!--  &lt;!&ndash;<p align="center">Напишите имя автора в url страницы. <br>Например, /api/quote?author=Jesse+Pinkman</p>&ndash;&gt;-->
<!--  <h1 align="center"><p> Quotes: </p></h1>-->
<!--  <div class="card-deck">-->
<!--    <div class="container" *ngFor="let quote of quotes | async">-->
<!--      <div class="card" align="center">-->
<!--        <div class="card-body">-->
<!--          <p class="card-text">-->
<!--            <b>quote:</b> {{ quote.quote }}<br>-->
<!--            <b>author:</b> {{ quote.author }}<br>-->
<!--            <b>series:</b> {{ quote.series }}-->
<!--          </p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--          <small class="text-muted" align="right">-->
<!--            <p align="right">-->
<!--              <button>Quotes</button>-->
<!--            </p>-->
<!--          </small>-->
<!--        </div>-->

<!--      </div>-->
<!--      <br>-->
<!--    </div>-->
<!--  </div>-->


<!--</div>-->
<!--&lt;!&ndash;<p align="center">&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="http://localhost:4200">Назад</a>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->


